@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  padding: 0 1%;
  font-family: 'Manjari', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  max-width: 500px;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul {
  display: flex;
}

.header li {
  list-style-type: none;
  margin-left: 20px;
}

.header a {
  color: white;
}

.header a:hover {
  color: #fffa23;
}

.friends-page {
  display: flex;
  flex-wrap: wrap;
}

.friends-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.friend-card {
  border: 1px solid white;
  padding: 15px 2%;
  margin: 10px 1%;
}